<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cadastrar livro(s) em promoção</title>
</head>
<body>
  <form action="/promocoes" method="POST" style="margin-top:30px;text-align:center;">
    
    <div>
      <input type="text" name="mensagem"/>
    </div><br/>

    <div>
      <select name="livro[descricao]">
        <%for(var i=0; i<lista.length; i++) {%>
          <option value="<%=lista[i].descricao%>"><%=lista[i].titulo%></option>
        <%}%>
      </select>
    </div><br/>

    <button type="submit">Cadastrar livro em promoçao</button>
  </form>
  <div style="text-align:center;padding:10px;">
    <a href="/livros">Back list</a>
  </div>
</body>
</html>