<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aconteceu um erro!</title>
</head>
<body>
  <div style="text-align:center;">
    <h2 style="padding:50px;color:coral;">Página não encontrada!</h2>
    <a href="/">Back</a>
  </div>
</body>
</html>