<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Erro inesperado!</title>
</head>
<body>
  <div style="text-align:center;">
    <h2 style="padding:50px;color:coral;">Aconteceu um erro inesperado :(. já estamos trabalhando na solução</h2>
  </div>
</body>
</html>