* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  height: 50px;
  background-color: #333;
}

.links li {
  float: left;
}

.links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.tree {
  display: flex;
  padding: 30px 20px;
  justify-content: space-around;
}

.descricao {
  width: 140px;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 1.3;
  color: coral;
}

.btn-lancamento {
  width: 140px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
  background-color: coral;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.promocao {
  text-align: center;
  background-color: bisque;
  padding: 10px;
  color: coral;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.items {
  width: 20%;
}