* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table, th, td {
  border: 1px solid #ddd;
}
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #ddd;
  color: #333;
}

th {
  padding: 15px 0px;
  background-color: tomato;
  color: #fff;
}