<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Página Inicial</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="header">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/agile">Agile</a></li>
      <li><a href="/frontend">Front End</a></li>
      <li><a href="/game">Game</a></li>
      <li><a href="/mobile">Mobile</a></li>
      <li><a href="/web">Web</a></li>
    </ul>
  </div>

  <div class="tree">
    <%for(var i=0; i<3; i++) {%>
      
      <div style="width:140px;">
        <a href="/">
          <img src="https://via.placeholder.com/140x210" alt="placeholder images" />
          <h3 class="descricao">
            <%=lista[i].titulo%>
          </h3>
          <button type="button" class="btn-lancamento">Lançamento!</button>
        </a>
      </div>

      <%}%>
  </div>

  <h3 class="promocao">Últimos dias com os preços promocionais. Aproveitem!</h3>

  <div class="promo">
    <%for(var i=3; i<lista.length; i++) {%>
      
      <div class="items">
        <a href="/">
          <img src="https://via.placeholder.com/140x210" alt="placeholder images" />
          <h3 class="descricao">
            <%=lista[i].titulo%>
          </h3>
          <button type="button" class="btn-lancamento">Lançamento!</button>
        </a>
      </div>

      <%}%>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
      socket.on('novaPromocao', function(data) {
        alert('Livro em promocao: '+data.livro.descricao);
      });
</script>
  <div style="padding:20px;text-align:center;">
    <a style="color:coral;text-decoration:underline;" href="/livros">Todos os livros</a>
  </div>
</body>

</html>