<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Form cadastro</title>
  </head>
  <body>
    <div class="erros">
      <%if(errosValidacao) {%>
        <ul>
          <%for(var i=0; i<errosValidacao.length; i++){%>
            <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
          <%}%>
        </ul>
      <%}%>
    </div>
    <form action="/livros" method="post">
      <div>
        <label for="titulo">Titulo</label><br/>
        <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Titulo do livro"/>
      </div>
      <div>
        <label for="preco">Preço</label><br/>
        <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="12.50"/>
      </div>
      <div>
        <label for="descricao">Descrição</label><br/>
        <textarea id="descricao" name="descricao" placeholder="Fale sobre o livro"><%=produto.descricao%></textarea>
      </div>
      <button type="submit">Salvar</button>
    </form>
    <a href="/livros">Back</a>
  </body>
</html>