<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/tablelist.css">
  <title>Lista de livros</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th style="display:none;">Id</th>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <% lista.forEach(livro => { %>
          <tr>
            <td style="display:none;"><%=livro.id%></td>
            <td><%=livro.titulo%></td>
            <td><%=livro.descricao%></td>
            <td><%=livro.preco.toFixed(2)%></td>
          </tr>
     <% }) %>
    </tbody>
  </table>
  <div style="text-align:center;padding: 10px 0px;">
    <a href="/">Home</a> ||
    <a href="/livros/form">Cadastrar livro</a> ||
    <a href="/promocoes/form">Cadastrar livros em promoção</a>
  </div>
</body>
</html>